@charset "utf-8";
*{
    margin:0;padding:0;box-sizing:border-box;
    width: auto;
}


@media only screen and (min-width: 1176px) {

    /*head content*/
    .titlebox{
        min-width: 100%;
        height: 450px;
        display: flex;
        align-items:flex-start;
        flex-flow: row wrap;
        background-image:url(../images/store_title.png);
        background-repeat:no-repeat;
        background-size:cover;
        padding:120px 0%;
    }

    #title_id{
        position: relative;
        height:auto;
        margin:0;
        padding-left: 6%;
        padding-right: 6%;

    }

    #title_text{
        position: relative;
        height:auto;
        margin-top: 20px;
        padding-right: 98px;
        padding-left: 6%;
        padding-right: 6%;

    }

    /*body_text*/
    .home_content{
        height:auto;
        min-height: 100%;
    }

    .body_text{
        width:80%;
        min-width: 800px;
        height:370px;
        background-color: #231F20; 
        margin: 30px 10% 44px 10%;
        display:flex;
        justify-content: space-between;
    }

    .left_text{
        width:40%;
        padding: 73px 0px 73px 50px;
    }
    
    .left_text_show{
        display:none;
    }

    .right_text{
        width:60%;
        padding: 73px 50px 73px 50px;
        color:#ffffff;
    }

    /*searchmap*/


    iframe{
        min-width: 1000px;
        min-height: 500px;
        margin-bottom: 150px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1175px) {
    .titlebox{
        width:100%;
        height: 500px;
        display: flex;
        align-items:flex-start;
        flex-flow: row wrap;
        background-image:url(../images/store_title.png);
        background-repeat:no-repeat;
        background-size:cover;
        padding:120px 3%;
    }

    #title_id{
        position: relative;
        width:100%;
        height:auto;
        margin:0;

    }

    #title_text{
        position: relative;
        margin-top: 24px;
        width: 600px;
    }

    /*body_text*/
    .home_content{
        height:auto;
        min-height: 100%;
    }

    .body_text{
        width:94%;
        height:370px;
        background-color: #231F20; 
        margin: 30px 3% 44px 3%;
        display:flex;
        justify-content: space-between;
    }
    .left_text{
        display: none;
    }
    .left_text_show{
        width:40%;
        padding: 50px 0px 0px 20px;
        font-size: 38px;
    }

    .right_text{
        width:60%;
        padding: 50px 20px 0px 20px;
        color:#ffffff;
    }

    /*searchmap*/


    iframe{
        min-width: 600px;
        min-height: 400px;
        margin-bottom: 150px;
    }


}

@media only screen and (max-width: 767px) {
    .m_hide {
        display: none;
    }

    #opennav {
        width: 100%;
    }
    #closenav {
        width: 100%;
    }
    
    .icon{
        visibility: hidden;
    }
    
    #close_menu{
        margin-right: 20px;
    }
    #open_menu{
        margin-right:20px;
    }
    
    #close_menu{
        margin-top:20px;
    }
}
